.form-container {
    display: flex;
    justify-content: center;
    color: #fff4e6;
    width: 60%;
}

.form-section {
    margin-bottom: 15px;
}

.email-input {
    margin-left: 10px;
    width: 100%;
}

.message-input {
    margin-left: 10px;
}