.header {
    color: #fff4e6 ;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    font-family: "Marriweather";
}

.project-container {
    width: 90vw;
    margin: 25px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}