.form-container {
    display: flex;
    justify-content: center;
    color:  #854442;
    width: 70vw;
    background-color: #fff4e6;
    padding: 15px 10px;
    border-radius: 5px;;
}

form {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
}

.form-section {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-section label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.email-input {
    width: 90%;
    background-color: #fff4e6;
    border: 2px solid #854442;
    padding: 7.5px;
}

.message-input {
    width: 90%;
    background-color: #fff4e6;
    border: 2px solid #854442;
    resize: none;
    padding: 7.5px;
}

.submit-btn {
    background: none;
    border: none;
    font-size: 30px;
    letter-spacing: 2px;
    color: #854442;
    font-weight: 700;
    cursor: pointer;
    margin: 10px 0;
}

.submit-btn:hover {
    color: #3c2f2f;
}