.skill-container {
    width: 50vw;
    margin: 25px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.skill-active {
    background: #854442;
    border-radius: 5px;
    text-align: center;
    color:  #fff4e6;
    font-size: 20px;
}

.skill-active:hover {
    background:#be9b7b;
}

