.project-container {
    width: 90vw;
    margin: 25px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.project-card {
    border: 1px solid #4b3832;
    text-align: center;
    background: #be9b7b;
    border-radius: 5px;
    color: #4b3832;
    padding: 15px 20px;
}

.project-skills {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 7.5px;
    margin: 10px 0;
}

.skill-tag {
    background: #854442;
    margin: 0 10px;
    border-radius: 10px;
    padding: 10px 0;
    color:  #fff4e6;
}

.project-links{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.link {
    margin: 0 5px;
    text-decoration: none;
    background: #4b3832;
    color: #fff4e6;
    padding: 2px 15px;
    border-radius: 10px;
}

.link:hover {
    background: #854442;
}